<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.tecsoundclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="师音课堂"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".RegeditActivity" />
        <activity android:name=".FindPswActivity" />
        <activity android:name=".ForgetpswActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:launchMode="singleTop" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".ClassResultActivity" />
        <activity android:name=".StandDataActivity" />
        <activity android:name=".CreateClassActivity" />
        <activity android:name=".CourseMenuActivity"></activity>
    </application>

</manifest>